*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0b0b0b;
    color:#fff;
    font-family:Arial,sans-serif;
    line-height:1.6;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 40px;
}

.logo img{
    width:200px;
    height:auto;
    display:block;
}

.menu{
    display:flex;
    gap:30px;
}

.menu a{
    color:white;
    text-decoration:none;
    font-weight:600;
}

.menu a:hover{
    color:#f5b400;
}

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    padding:80px;

    background:
    linear-gradient(
        rgba(0,0,0,.55),
        rgba(0,0,0,.55)
    ),
    url("629703cc-9925-4ee6-b11c-84aaa2f2386a.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.content{
    max-width:900px;
    margin:auto;
    text-align:center;
}

h1{
    font-size:64px;
    font-weight:800;
    margin-bottom:20px;
}

.content p{
    font-size:21px;
    margin-bottom:30px;
    color:#ddd;
}

.buttons{
    display:flex;
    gap:15px;
    justify-content:center;
    flex-wrap:wrap;
}

.btn{
    background:#f5b400;
    color:#000;
    text-decoration:none;
    padding:15px 28px;
    border-radius:10px;
    font-weight:bold;
}

section{
    padding:80px 50px;
}

h2{
    text-align:center;
    color:#f5b400;
    margin-bottom:40px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.card{
    background:#181818;
    border:1px solid #2a2a2a;
    border-radius:18px;
    padding:25px;
}

.stats{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.stat-box{
    background:#181818;
    border:1px solid #2a2a2a;
    border-radius:18px;
    padding:35px;
    text-align:center;
}

#kontaktai{
    text-align:center;
}

footer{
    text-align:center;
    padding:35px;
    color:#999;
}
